
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crypta-Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#description">Description</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav><br><br>

    <div class="container">
    	<h1>Sparse Matrix<span class="small"> Evaluation on inreasing key size</span></h1>
    	<hr class="intro-divider pull-left">
    </div>

    <div class="container">
    	<div class="row">
    		<div class="col-md-6 col-sm-6 col-lg-6">	
    			<!--form div-->
    			<form id="sparse_matrix_form" class="form ajax" method="post" enctype="multipart/form-data">
       				{% csrf_token %}
                    <div class="form-group">
                        <label for="name">
                            <h3>Upload a file with Sparse Matrix</h3>
                        </label>
                        <input type="file" name="input_" id="input_"/>
                    <br>
                    <button type="submit" class="btn btn-primary pull-left" id="btnContactUs" onclick="showResult()">
                        Submit
                    </button>
                    </div>
                </form>
                <br>
                <pre id="test" style="display: none"></pre>
                <br>
                <!--result div-->
	            <div>
	                <p id="result_paragraph1" >
	                </p>
                    <p id="result_paragraph2" >
                    </p>
                    <p id="result_paragraph3" >
                    </p>
	            </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
            	<h3>Linear, Quadratic, Cubic Graph for Sparse Matrix Encryption</h3>

		        <canvas id="myChart" width="500" height="400"></canvas>

		        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
		        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
		        <script type="text/javascript" src="{% static 'js/eldarion-ajax.min.js' %}"></script>
                
		        <script type="text/javascript">
		            $.get('{% url "line_chart_json" %}', function(data) {
                        var ctx = $("#myChart").get(0).getContext("2d");
                        new Chart(ctx).Line(data);
                    });

		            var showResult = function(){
		            	console.log({{data.result}});
		            	
		            }




                    function readMultipleFiles(evt) {
                            console.log("test");
                        //Retrieve all the files from the FileList object
                        var files = evt.target.files[0];
                        var contents = " ";
                            if (files) {
                                    var r = new FileReader();
                                    r.onload = function () {
                                            contents = r.result;
                                            $('#test').text(contents);
                                            // console.log(window.contents);
                                        };                                    
                                    var file_data = r.readAsText(files);
                                    return r;
                            } else {
                                alert("Failed to load files");
                            }

                            
                        }
                    document.getElementById('input_').addEventListener('change', readMultipleFiles);





		            $('#sparse_matrix_form button[type="submit"]').click(function(){
		            	var input_file = document.getElementById("test").innerHTML;
                        console.log(input_file);
                        var form_data = {
		            		'input_': input_file,
		            	}
			            $.post('/result/', form_data,
			            	function(data){
			            		result_cubic = data['result_cubic'];
                                result_linear = data['result_linear']
                                result_quadratic = data['result_quadratic']
			            		$('#result_paragraph1').text("The result of linear encryption is: " + result_linear);
                                $('#result_paragraph2').text("The result of quadratic encryption is: " + result_quadratic);
                                $('#result_paragraph3').text("The result of cubic encryption is: " + result_cubic);
			            	});	
		            });
		        </script>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>