
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crypta-Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .matrix {
            position: relative;
        }
        .matrix:before, .matrix:after {
            content: "";
            position: absolute;
            top: 0;
            border: 1px solid #000;
            width: 6px;
            height: 100%;
        }
        .matrix:before {
            left: -6px;
            border-right: 0;
        }
        .matrix:after {
            right: -6px;
            border-left: 0;
        }
    </style>

</head>

<body>
	    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/#description">Description</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav><br><br>

    <div class="container">
    	<h1>Fibonacci Series <span class="small">  Evaluation on increasing fibonacci number</span></h1>
    	<hr class="intro-divider pull-left">
    </div>

    <div class="container">
    	<div class="row">
    		<div class="col-md-6 col-sm-6 col-lg-6">	
    			<!--form div-->
    			<form id="fibonacci_number_form" class="form ajax" method="post" enctype="multipart/form-data">
       				{% csrf_token %}
                    <div class="form-group">
                        
                        <div class="col-md-5">
                        	<label for="name">
                                Enter the fibonacci element's position(Key)
                            </label>
                            <input class="form-control" type="input" name="input_" id="input_" placeholder="eg: 23" required="true" /><br>
                            <label>Enter Plan text:</label>
                            <input class="form-control" type="input" name="input_plain" id="input_plain" placeholder="eg: This is Crypta-Analysis" required="true" /><br>
                        	<button type="submit" class="btn btn-primary pull-left" id="btnContactUs" onclick="showResult()">
                        Submit
                    </button>
                    
                    	</div>
                    <br><br>
                    </div>
                </form>
                <br>
                <br>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
        	    <p id="fibo_number"></p><br>
                <p id="iterative_result_paragraph" ></p><br>
                <p id="recursive_result_paragraph"></p><br>
                <p id="plain_text_matrix"></p><br>
                <p id="fibo_matrix"></p><br>
                <p id="encrypted_data"></p><br>
                <p id="decrypted_matrix"></p>
                <p class="#fibo_text"></p>
            </div>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
	        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
	        <script type="text/javascript" src="{% static 'js/eldarion-ajax.min.js' %}"></script>
	        <script type="text/javascript">
	      
	            var showResult = function(){
	            	console.log({{data.result}});
	            	
	            }
	            $('#fibonacci_number_form button[type="submit"]').click(function(){
	            	var input_file = $('#input_').val();
                    var input_plain_text = $('#input_plain').val();
	            	var form_data = {
	            		'input_': input_file,
                        'input_plain': input_plain_text,
	            	}
		            $.post('result/', form_data,
		            	function(data){
		            		iterative_result = data['iterative_time'];			      
		            		recursive_result = data['recursive_time'];
		            		number = data['fibonacci_no'];
                            encryted_text = data['encrypted_matrix']
                            plain_text_matrix = data['plain_text_matrix']
                            decrypted_matrix = data['decrypted_matrix']
                            fibo_matrix = data['fibo_matrix']
                            fibo_inverse = data['fibo_inverse']

		            		$('#fibo_number').text("Fibonacci Number is:    " + number);
                            $('#iterative_result_paragraph').text("Time for Iterative approach:    " + iterative_result);
		            		$('#recursive_result_paragraph').text("Time for Recursive approach:    " + recursive_result);
		            		$('#fibo_matrix').text("Fibonacci Matrix is(Key):    " + fibo_matrix);
                            $('#plain_text_matrix').text("Fibonacci plain text matrix is(Plain Text):    " + plain_text_matrix);
                            $('#encrypted_data').text("Encrypted data   =   (Fibonacci Matrix) * (Plain text Matrix):    " + encryted_text);
                            $('#decrypted_matrix').text("Fibonacci decrypted_matrix = (Encrypted matrix) * (Inverse Fibonacci): " + decrypted_matrix);
		            	});	
	            });
	            
	        </script>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>