
<h1>Encryt a sparse matrix</h1>
<!-- {% if latest_time_list %}
    <ul>
    {% for sparse in latest_time_list %}
        <li><a href="/sparse_matrix/{{ sparse.id }}/">{{ sparse.processing_time }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No times are available.</p>
{% endif %}
 -->




<!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'sparse_matrix' %}" method="post">
{% csrf_token %}

<input type="submit" value="Vote" />
</form> -->